.liop{display:block;}
.container{display:flex;overflow:hidden;
width:98%;
margin:0 0 0 0;float:right;
border-radius:7px;
height:20%;
flex-wrap:wrap;
background-color:rgb(220,215,220);
color:rgb(254,250,254);
}
.pop{display:flex;flex-wrap:wrap;}
.log0{color:white;
font-style:bold;width:20%;
font-size:250%;float:left;
margin:2%;justify-content:center;margin-top:5%;}
.cutto{
font-size:200%;text-decoration:none;
background-color:rgb(255,250,255);
color:rgb(211,206,211);
cursor:pointer;margin:1%;padding:2%;}

.butto{margin:2%;
padding:2%;
color:rgb(252,247,252);



}
.iutto{
paddin:2%;
margin:5%;
width:50px;
height:50px;
}

.iutto:hover{
color:black;
}
.cutto:hover{
color:black;
}
.butto:hover{
color:black;
}
.twobutto{
margin-left:61%;
margin-top:1%;margin-bottom:1%;
background-color:rgb(255,250,255);
color:rgb(211,206,211);overflow:hidden;justify-content:center;
padding:2.5%;

}